@using RealEstateApp.Web.ViewModels.Property;
@model IEnumerable<PropertyViewModel>;

<h2>All Properties</h2>

@if(User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="Create" class="btn btn-primary">Add New Property</a>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Property Type</th>
            <th>Building Type</th>
            <th>Location</th>
            <th>Size</th>
            <th>Floor</th>
            <th>Year</th>
            <th>Price - Euro</th>
            <th>Image</th>
            <th>Date Added</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PropertyViewModel property in this.Model)
        {
            string floor = property.Floor == null ? "N/A" : property.Floor.ToString()!;
            string year = property.Year == null ? "N/A" : property.Year.ToString()!;

            <tr>
                <td>@property.Name</td>
                <td>@property.BuildingType</td>
                <td>@property.DistrictName</td>
                <td>@property.Size</td>
                <td>@floor</td>
                <td>@year</td>
                <td>@property.Price</td>
                <td>
                    <img src="@(string.IsNullOrEmpty(property.ImageUrl) ? Url.Content("~/Images/default_property_pic.jpg") : (property.ImageUrl.StartsWith("http") ? property.ImageUrl : Url.Content($"~/Images/{property.ImageUrl}")))"
                         class="card-img-top"
                         alt="Property Image"
                         style="height: 100px; object-fit: cover;">
                </td>
                <td>@property.DateAdded.ToString("MMMM yyyy")</td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Details" asp-route-id="@property.Id" class="btn btn-primary btn-sm flex-fill text-center">
                            Details
                        </a>

                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a asp-controller="Favorite" asp-action="AddPropertyToFavorites" asp-route-id="@property.Id" class="btn btn-primary btn-sm flex-fill text-center">
                                Add to Favorites
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>